.clients-section {
  padding: 6rem 0rem;
  text-align: center;
}

.clients-description {
  max-width: 600px;
  margin: 1rem auto 3rem;
  color: rgba(255, 255, 255, 0.75);
}

.clients-carousel-wrapper {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 3rem 0;

  background:
    linear-gradient(
      180deg,
      rgba(72, 218, 203, 0.08),
      rgba(72, 218, 203, 0.02)
    );
}

.clients-carousel-wrapper::after {
  content: "";
  position: absolute;
  inset: 0;
  pointer-events: none;
  border-top: 1px solid rgba(72, 218, 203, 0.25);
  border-bottom: 1px solid rgba(72, 218, 203, 0.25);
}

.clients-carousel-wrapper::before {
  content: "";
  position: absolute;
  inset: -30%;
  background:
    radial-gradient(
      circle at center,
      rgba(72, 218, 203, 0.25),
      transparent 35%
    );
  z-index: 0;
}

.client-item {
  position: relative;
  display: inline-block;
}

.clients-logos {
  display: flex;
  gap: 4rem;
  white-space: nowrap;
  animation: none;
  padding: 0.2rem;
  border-radius: 4px;
  align-items: center;
  position: relative;
  z-index: 1;
}

.clients-logos img {
  height: 80px;
  width: auto;
  max-width: 120px;
  opacity: 0.7;
  transition: opacity 0.3s ease, transform 0.3s ease, filter 0.3s ease;
  filter: drop-shadow(0 0 3px rgba(0,0,0,0.7));
  object-fit: contain;
  padding: 0.3rem;
  opacity: 1;
  position: relative;
  cursor: pointer;
}

.clients-logos img.dark-logo {
  filter: brightness(2) invert(1);
}

.clients-logos img:hover {
  transform: scale(1.1);
}

.clients-logos img.mambawater {
  height: 150px;
  max-width: 150px;
}

@media (min-width: 1200px) {
    section {
        padding-top: 10rem !important;
        padding-bottom: 10rem !important;
    }

    .clients-section h2 {
        font-size: 3.6rem;
        letter-spacing: -1.5px;
    }
}

@media (max-width: 768px) {
  .clients-logos img {
    height: 50px;
  }
}